
/*
@media only screen and (max-width: 360px) {
}
@media only screen and (min-width: 375px) and (max-height: 667px){
}
@media only screen and (min-width: 375px) and (min-height: 812px){
}
@media only screen and (min-width: 411px) and (max-height: 731px) {
}
@media only screen and (min-width: 411px) and (min-height: 823px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1024px) and (max-height: 1366) {
}
@media only screen and (min-width: 1024px) {
}
*/

/*Index Page*/
html {
	background-color: #F0F0F0;
}

.lower_h2 {
	padding-top: 150px;
	margin: 0px;


}

.lower_p {
	padding: 10px 41px 0px 0px;
	margin: 0px;




}

.display_pic {
	border-radius: 525px; /* round edges */
	display: inline-block;
	float: left;
	margin: 140px 20px;
	width: 235px;
	border: 1px solid black;
	position: center;		
}




/* Footer */
@media only screen and (max-width: 360px) {
	a {
		text-decoration: none;
		color: inherit;
		display: inline;
		margin-right: 0px;
		font-size: 5px;
	}
	li:hover {
		text-shadow: 0 0 14px rgb(255, 255, 255);
		font-weight: 500;
		mix-blend-mode: exclusion;
	}
	footer {
		text-align: center;
		background-color: hsl(180, 90%, 35%);
		color: #FFFFFF;
		overflow: hidden;
		width: 100%;
		bottom: 0%;
		position: sticky;
		line-height: 35px;
		left: 0px;
	}
	/* position classes */
	.left {
		float:left;
		text-align: left;
	}
	.right {
		float: right;
		text-align: right;
	}
	/* buttons */
	#home, #games, #sketches, #photography, #instagram, #email, #facebook {
		background: url('../links-and-images/social_media.jpg') 0 0;
		background-repeat: no-repeat;
		display: inline-block;
	}
	#home {
		width: 30px;
        display: block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		margin-left: 10px;
		margin-right: 5px;
		filter: invert(100);
		background-position: 0px -40px;
	}
	#home:hover {
		mix-blend-mode: exclusion;
	}
	#games {
		width: 30px;
        display: block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		margin-right: 5px;
		filter: invert(100);
		background-position: -84px -40px;
	}
	#games:hover {
		mix-blend-mode: exclusion;
	}
	#sketches {
		width: 30px;
        display: block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		margin-right: 5px;
		filter: invert(100);
		background-position: -111px -40px;
	}
	#sketches:hover {
		mix-blend-mode: exclusion;
	}
	#photography {
		width: 30px;
        display: block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		filter: invert(100);
		background-position: -57px -40px;
	}
	#photography:hover {
		mix-blend-mode: exclusion;
	}
	#facebook {
		width: 30px;
        display: inline block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		margin-right: 5px;
		filter: invert(100);
		background-position: -0px 0px;
	}	
	#facebook:hover {
		mix-blend-mode: exclusion;
	}
	#email {
		width: 30px;
		display: block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		margin-right: 5px;
		filter: invert(100);
		background-position: -29px -40px;
	}
	#email:hover {
		mix-blend-mode: exclusion;
	}
	#instagram {
		width: 30px;
		margin-right: 19px;
        display: block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		filter: invert(100);
		background-position: -57px 0px;
	}
	#instagram:hover {
		mix-blend-mode: exclusion;
	}

}

@media only screen and (min-width: 375px) and (max-height: 667px){
	footer {
		text-align: center;
		background-color: hsl(180, 90%, 35%);
		color: #FFFFFF;
		overflow: hidden;
		width: 100%;
		bottom: 0%;
		position: sticky;
		line-height: 35px;
		left: 0px;
	}
	/* position classes */
	.left {
		float:left;
		text-align: left;
	}
	.right {
		float: right;
		text-align: right;
	}
	/* buttons */
	#home, #games, #sketches, #photography, #instagram, #email, #facebook {
		background: url('../links-and-images/social_media.jpg') 0 0;
		background-repeat: no-repeat;
		display: inline-block;
	}
	#home {
		width: 30px;
        display: block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		margin-left: 10px;
		margin-right: 5px;
		filter: invert(100);
		background-position: 0px -40px;
	}
	#home:hover {
		mix-blend-mode: exclusion;
	}
	#games {
		width: 30px;
        display: block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		margin-right: 5px;
		filter: invert(100);
		background-position: -84px -40px;
	}
	#games:hover {
		mix-blend-mode: exclusion;
	}
	#sketches {
		width: 30px;
        display: block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		margin-right: 5px;
		filter: invert(100);
		background-position: -111px -40px;
	}
	#sketches:hover {
		mix-blend-mode: exclusion;
	}
	#photography {
		width: 30px;
        display: block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		filter: invert(100);
		background-position: -57px -40px;
	}
	#photography:hover {
		mix-blend-mode: exclusion;
	}
	#facebook {
		width: 30px;
        display: inline block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		margin-right: 5px;
		filter: invert(100);
		background-position: -0px 0px;
	}	
	#facebook:hover {
		mix-blend-mode: exclusion;
	}
	#email {
		width: 30px;
		display: block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		margin-right: 5px;
		filter: invert(100);
		background-position: -29px -40px;
	}
	#email:hover {
		mix-blend-mode: exclusion;
	}
	#instagram {
		width: 30px;
		margin-right: 19px;
        display: block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		filter: invert(100);
		background-position: -57px 0px;
	}
	#instagram:hover {
		mix-blend-mode: exclusion;
	}

}

@media only screen and (min-width: 375px) and (min-height: 812px){
	footer {
		text-align: center;
		background-color: hsl(180, 90%, 35%);
		color: #FFFFFF;
		overflow: hidden;
		width: 100%;
		bottom: 0%;
		position: sticky;
		line-height: 35px;
		left: 0px;
	}
	/* position classes */
	.left {
		float:left;
		text-align: left;
	}
	.right {
		float: right;
		text-align: right;
	}
	/* buttons */
	#home, #games, #sketches, #photography, #instagram, #email, #facebook {
		background: url('../links-and-images/social_media.jpg') 0 0;
		background-repeat: no-repeat;
		display: inline-block;
	}
	#home {
		width: 30px;
        display: block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		margin-left: 10px;
		margin-right: 5px;
		filter: invert(100);
		background-position: 0px -40px;
	}
	#home:hover {
		mix-blend-mode: exclusion;
	}
	#games {
		width: 30px;
        display: block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		margin-right: 5px;
		filter: invert(100);
		background-position: -84px -40px;
	}
	#games:hover {
		mix-blend-mode: exclusion;
	}
	#sketches {
		width: 30px;
        display: block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		margin-right: 5px;
		filter: invert(100);
		background-position: -111px -40px;
	}
	#sketches:hover {
		mix-blend-mode: exclusion;
	}
	#photography {
		width: 30px;
        display: block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		filter: invert(100);
		background-position: -57px -40px;
	}
	#photography:hover {
		mix-blend-mode: exclusion;
	}
	#facebook {
		width: 30px;
        display: inline block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		margin-right: 5px;
		filter: invert(100);
		background-position: -0px 0px;
	}	
	#facebook:hover {
		mix-blend-mode: exclusion;
	}
	#email {
		width: 30px;
		display: block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		margin-right: 5px;
		filter: invert(100);
		background-position: -29px -40px;
	}
	#email:hover {
		mix-blend-mode: exclusion;
	}
	#instagram {
		width: 30px;
		margin-right: 19px;
        display: block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		filter: invert(100);
		background-position: -57px 0px;
	}
	#instagram:hover {
		mix-blend-mode: exclusion;
	}

}

@media only screen and (min-width: 411px) and (max-height: 731px) {
	footer {
		text-align: center;
		background-color: hsl(180, 90%, 35%);
		color: #FFFFFF;
		overflow: hidden;
		width: 100%;
		bottom: 0%;
		position: sticky;
		line-height: 35px;
		left: 0px;
	}
	/* position classes */
	.left {
		float:left;
		text-align: left;
	}
	.right {
		float: right;
		text-align: right;
	}
	/* buttons */
	#home, #games, #sketches, #photography, #instagram, #email, #facebook {
		background: url('../links-and-images/social_media.jpg') 0 0;
		background-repeat: no-repeat;
		display: inline-block;
	}
	#home {
		width: 30px;
        display: block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		margin-left: 10px;
		margin-right: 5px;
		filter: invert(100);
		background-position: 0px -40px;
	}
	#home:hover {
		mix-blend-mode: exclusion;
	}
	#games {
		width: 30px;
        display: block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		margin-right: 5px;
		filter: invert(100);
		background-position: -84px -40px;
	}
	#games:hover {
		mix-blend-mode: exclusion;
	}
	#sketches {
		width: 30px;
        display: block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		margin-right: 5px;
		filter: invert(100);
		background-position: -111px -40px;
	}
	#sketches:hover {
		mix-blend-mode: exclusion;
	}
	#photography {
		width: 30px;
        display: block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		filter: invert(100);
		background-position: -57px -40px;
	}
	#photography:hover {
		mix-blend-mode: exclusion;
	}
	#facebook {
		width: 30px;
        display: inline block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		margin-right: 5px;
		filter: invert(100);
		background-position: -0px 0px;
	}	
	#facebook:hover {
		mix-blend-mode: exclusion;
	}
	#email {
		width: 30px;
		display: block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		margin-right: 5px;
		filter: invert(100);
		background-position: -29px -40px;
	}
	#email:hover {
		mix-blend-mode: exclusion;
	}
	#instagram {
		width: 30px;
		margin-right: 19px;
        display: block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		filter: invert(100);
		background-position: -57px 0px;
	}
	#instagram:hover {
		mix-blend-mode: exclusion;
	}

}

@media only screen and (min-width: 414px) and (max-height: 736px) {
	footer {
		text-align: center;
		background-color: hsl(180, 90%, 35%);
		color: #FFFFFF;
		overflow: hidden;
		width: 100%;
		bottom: 0%;
		position: sticky;
		line-height: 35px;
		left: 0px;
	}
	/* position classes */
	.left {
		float:left;
		text-align: left;
	}
	.right {
		float: right;
		text-align: right;
	}
	/* buttons */
	#home, #games, #sketches, #photography, #instagram, #email, #facebook {
		background: url('../links-and-images/social_media.jpg') 0 0;
		background-repeat: no-repeat;
		display: inline-block;
	}
	#home {
		width: 30px;
        display: block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		margin-left: 10px;
		margin-right: 5px;
		filter: invert(100);
		background-position: 0px -40px;
	}
	#home:hover {
		mix-blend-mode: exclusion;
	}
	#games {
		width: 30px;
        display: block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		margin-right: 5px;
		filter: invert(100);
		background-position: -84px -40px;
	}
	#games:hover {
		mix-blend-mode: exclusion;
	}
	#sketches {
		width: 30px;
        display: block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		margin-right: 5px;
		filter: invert(100);
		background-position: -111px -40px;
	}
	#sketches:hover {
		mix-blend-mode: exclusion;
	}
	#photography {
		width: 30px;
        display: block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		filter: invert(100);
		background-position: -57px -40px;
	}
	#photography:hover {
		mix-blend-mode: exclusion;
	}
	#facebook {
		width: 30px;
        display: inline block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		margin-right: 5px;
		filter: invert(100);
		background-position: -0px 0px;
	}	
	#facebook:hover {
		mix-blend-mode: exclusion;
	}
	#email {
		width: 30px;
		display: block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		margin-right: 5px;
		filter: invert(100);
		background-position: -29px -40px;
	}
	#email:hover {
		mix-blend-mode: exclusion;
	}
	#instagram {
		width: 30px;
		margin-right: 19px;
        display: block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		filter: invert(100);
		background-position: -57px 0px;
	}
	#instagram:hover {
		mix-blend-mode: exclusion;
	}

}

@media only screen and (min-width: 411px) and (min-height: 823px) {
	footer {
		text-align: center;
		background-color: hsl(180, 90%, 35%);
		color: #FFFFFF;
		overflow: hidden;
		width: 100%;
		bottom: 0%;
		position: sticky;
		line-height: 35px;
		left: 0px;
	}
	/* position classes */
	.left {
		float:left;
		text-align: left;
	}
	.right {
		float: right;
		text-align: right;
	}
	/* buttons */
	#home, #games, #sketches, #photography, #instagram, #email, #facebook {
		background: url('../links-and-images/social_media.jpg') 0 0;
		background-repeat: no-repeat;
		display: inline-block;
	}
	#home {
		width: 30px;
        display: block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		margin-left: 10px;
		margin-right: 5px;
		filter: invert(100);
		background-position: 0px -40px;
	}
	#home:hover {
		mix-blend-mode: exclusion;
	}
	#games {
		width: 30px;
        display: block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		margin-right: 5px;
		filter: invert(100);
		background-position: -84px -40px;
	}
	#games:hover {
		mix-blend-mode: exclusion;
	}
	#sketches {
		width: 30px;
        display: block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		margin-right: 5px;
		filter: invert(100);
		background-position: -111px -40px;
	}
	#sketches:hover {
		mix-blend-mode: exclusion;
	}
	#photography {
		width: 30px;
        display: block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		filter: invert(100);
		background-position: -57px -40px;
	}
	#photography:hover {
		mix-blend-mode: exclusion;
	}
	#facebook {
		width: 30px;
        display: inline block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		margin-right: 5px;
		filter: invert(100);
		background-position: -0px 0px;
	}	
	#facebook:hover {
		mix-blend-mode: exclusion;
	}
	#email {
		width: 30px;
		display: block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		margin-right: 5px;
		filter: invert(100);
		background-position: -29px -40px;
	}
	#email:hover {
		mix-blend-mode: exclusion;
	}
	#instagram {
		width: 30px;
		margin-right: 19px;
        display: block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		filter: invert(100);
		background-position: -57px 0px;
	}
	#instagram:hover {
		mix-blend-mode: exclusion;
	}

}


@media only screen and (min-width: 768px) {

	footer {
		text-align: center;
		background-color: hsl(180, 90%, 35%);
		color: #FFFFFF;
		overflow: hidden;
		width: 100%;
		bottom: 0%;
		position: sticky;
		line-height: 35px;
		left: 0px;
	}
	/*position classes */
	.left {
		float:left;
		text-align: left;
	}
	.right {
		float: right;
		text-align: right;
	}
	/* buttons */
	#home, #games, #sketches, #photography, #instagram, #email, #facebook {
		background: url('../links-and-images/social_media.jpg') 0 0;
		background-repeat: no-repeat;
		display: inline-block;
	}
	#home {
		width: 30px;
        display: block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		margin-left: 10px;
		margin-right: 5px;
		filter: invert(100);
		background-position: 0px -40px;
	}
	#home:hover {
		mix-blend-mode: exclusion;
	}
	#games {
		width: 30px;
        display: block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		margin-right: 5px;
		filter: invert(100);
		background-position: -84px -40px;
	}
	#games:hover {
		mix-blend-mode: exclusion;
	}
	#sketches {
		width: 30px;
        display: block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		margin-right: 5px;
		filter: invert(100);
		background-position: -111px -40px;
	}
	#sketches:hover {
		mix-blend-mode: exclusion;
	}
	#photography {
		width: 30px;
        display: block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		filter: invert(100);
		background-position: -57px -40px;
	}
	#photography:hover {
		mix-blend-mode: exclusion;
	}
	#facebook {
		width: 30px;
        display: inline block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		margin-right: 5px;
		filter: invert(100);
		background-position: -0px 0px;
	}	
	#facebook:hover {
		mix-blend-mode: exclusion;
	}
	#email {
		width: 30px;
		display: block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		margin-right: 5px;
		filter: invert(100);
		background-position: -29px -40px;
	}
	#email:hover {
		mix-blend-mode: exclusion;
	}
	#instagram {
		width: 30px;
		margin-right: 19px;
        display: block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		filter: invert(100);
		background-position: -57px 0px;
	}
	#instagram:hover {
		mix-blend-mode: exclusion;
	}

}

@media only screen and (min-width: 1024px) and (max-height: 1366) {
	footer {
		text-align: center;
		background-color: hsl(180, 90%, 35%);
		color: #FFFFFF;
		overflow: hidden;
		width: 100%;
		bottom: 0%;
		position: sticky;
		line-height: 35px;
		left: 0px;
	}
	.left {
		float:left;
		text-align: left;
	}
	.right {
		float: right;
		text-align: right;
	}
	/* buttons */
	#home, #games, #sketches, #photography, #instagram, #email, #facebook {
		background: url('../links-and-images/social_media.jpg') 0 0;
		background-repeat: no-repeat;
		display: inline-block;
	}
	#home {
		width: 30px;
        display: block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		margin-left: 10px;
		margin-right: 5px;
		filter: invert(100);
		background-position: 0px -40px;
	}
	#home:hover {
		mix-blend-mode: exclusion;
	}
	#games {
		width: 30px;
        display: block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		margin-right: 5px;
		filter: invert(100);
		background-position: -84px -40px;
	}
	#games:hover {
		mix-blend-mode: exclusion;
	}
	#sketches {
		width: 30px;
        display: block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		margin-right: 5px;
		filter: invert(100);
		background-position: -111px -40px;
	}
	#sketches:hover {
		mix-blend-mode: exclusion;
	}
	#photography {
		width: 30px;
        display: block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		filter: invert(100);
		background-position: -57px -40px;
	}
	#photography:hover {
		mix-blend-mode: exclusion;
	}
	#facebook {
		width: 30px;
        display: inline block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		margin-right: 5px;
		filter: invert(100);
		background-position: -0px 0px;
	}	
	#facebook:hover {
		mix-blend-mode: exclusion;
	}
	#email {
		width: 30px;
		display: block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		margin-right: 5px;
		filter: invert(100);
		background-position: -29px -40px;
	}
	#email:hover {
		mix-blend-mode: exclusion;
	}
	#instagram {
		width: 30px;
		margin-right: 19px;
        display: block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		filter: invert(100);
		background-position: -57px 0px;
	}
	#instagram:hover {
		mix-blend-mode: exclusion;
	}

}

@media only screen and (min-width: 1024px) {
	footer {
		text-align: center;
		background-color: hsl(180, 90%, 35%);
		color: #FFFFFF;
		overflow: hidden;
		width:100%;
		bottom: 0%;
		position: fixed; 
		line-height: 35px;
		left: 0px;			
	}
	.left {
		float:left;
		text-align: left;
	}
	.right {
		float: right;
		text-align: right;
	}
	/* Social Media Buttons */ 
	#home, #games, #sketches, #photography, #instagram, #email, #facebook {
		background: url('../links-and-images/social_media.jpg') 0 0;
		background-repeat: no-repeat;
		display: inline-block;
	}
	#home {
		width: 30px;
        display: block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		margin-left: 10px;
		margin-right: 5px;
		filter: invert(100);
		background-position: 0px -40px;
	}
	#home:hover {
		mix-blend-mode: exclusion;
	}
	#games {
		width: 30px;
        display: block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		margin-right: 5px;
		filter: invert(100);
		background-position: -84px -40px;
	}
	#games:hover {
		mix-blend-mode: exclusion;
	}
	#sketches {
		width: 30px;
        display: block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		margin-right: 5px;
		filter: invert(100);
		background-position: -111px -40px;
	}
	#sketches:hover {
		mix-blend-mode: exclusion;
	}
	#photography {
		width: 30px;
        display: block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		filter: invert(100);
		background-position: -57px -40px;
	}
	#photography:hover {
		mix-blend-mode: exclusion;
	}
	#facebook {
		width: 30px;
        display: inline block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		margin-right: 5px;
		filter: invert(100);
		background-position: -0px 0px;
	}	
	#facebook:hover {
		mix-blend-mode: exclusion;
	}
	#email {
		width: 30px;
		display: block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		margin-right: 5px;
		filter: invert(100);
		background-position: -29px -40px;
	}
	#email:hover {
		mix-blend-mode: exclusion;
	}
	#instagram {
		width: 30px;
		margin-right: 19px;
        display: block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		filter: invert(100);
		background-position: -57px 0px;
	}
	#instagram:hover {
		mix-blend-mode: exclusion;
	}

}
