
/* Title Images */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 360px) {
	#sketchestitleimage{
		display: flex;
    	justify-content: center;
		width: 54vh;
		height: 28vh;
    	align-items: center;
    	background-image: url(../links-and-images/sketches1.jpg);
    	background-size: cover;
    	margin-bottom: 12px;
    	border-radius: 10px;
	}
	#photographytitleimage{
		display: flex;	
		justify-content: center;
		width: 54vh;
		height: 28vh;
		align-items: center;
		background-image: url(../links-and-images/photography7.jpg);
		background-size: cover;
		margin-bottom: 12px;
		border-radius: 10px;
	}
	#environmenttitleimage{
		display: flex;	
		justify-content: center;
		width: 54vh;
		height: 28vh;
		align-items: center;
		background-image: url(../links-and-images/environment10.jpg);
		background-size: cover;
		margin-bottom: 12px;
		border-radius: 10px;

	}
	H1, h2, h3{
		font-family: 'Roboto', sans-serif;
		font-size: 30px;
		text-align: center;
		color: rgb(255, 255, 255);
		text-shadow: 3px 3px 10px #000;
	}
}






/* Large devices (laptops/desktops) */
@media only screen and (min-width: 1024px) {
	#sketchestitleimage{
		display: flex;	
		justify-content: center;
		width: 100%;
		height: 100vh;
		align-items: center;
		background-image: url(../links-and-images/sketches1.jpg);
		background-size: cover;
		margin-bottom: 12px;
		border-radius: 10px;
	}
	#photographytitleimage{
		display: flex;	
		justify-content: center;
		width: 100%;
		height: 100vh;
		align-items: center;
		background-image: url(../links-and-images/photography7.jpg);
		background-size: cover;
		margin-bottom: 12px;
		border-radius: 10px;
	}	
	#environmenttitleimage{
		display: flex;	
		justify-content: center;
		width: 100%;
		height: 100vh;
		align-items: center;
		background-image: url(../links-and-images/environment10.jpg);
		background-size: cover;
		margin-bottom: 12px;
		border-radius: 10px;
	}
	H1, h2, h3{
		font-family: 'Roboto', sans-serif;
		font-size: 66px;
		text-align: center;
		color: rgb(255, 255, 255);
		text-shadow: 3px 3px 10px #000;
	}
}

/* Page Images */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 360px) {
	#container{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.tilecontainer{
		flex-grow: 1;
		width: 40%;
		height: auto;
		margin: 6px 6px 6px 6px;
		position: relative;
		top: 0px;
	}
	.overlay{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #000000;
		opacity: 0;
		transition: all 1s;
		border-radius: 10px; /* round edges */	
	}
	.tilecontainer:hover .overlay{
		opacity: 0.5;
	}
	.overlayText{
		font-family: 'Roboto', sans-serif;
		font-size: 32px;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		text-align: center;
		transition: all 1s;
		color: white;
		width: 100%;
	}
	.tilecontainer:hover .overlayText{
		opacity: 1;
	}

	#container img{
		display: block;
		max-width: 100%;
		height: auto;
		border-radius: 10px; /* round edges */	
	}
}
/* Large devices (laptops/desktops) */
@media only screen and (min-width: 1024px) {
#container{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.tilecontainer{
	flex-grow: 1;
	width: 28%; /* column gap*/
	height: auto;		
	margin: 12px 0; /* row Gap */
	position: relative;
	top: 0;
	left: 0;	
}
.overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000000;
	opacity: 0;
	transition: all 1s;
	border-radius: 10px; /* round edges */	
}
.tilecontainer:hover .overlay{
	opacity: 0.5;
}
.overlayText{
	font-family: 'Roboto', sans-serif;
	font-size: 32px;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	text-align: center;
	transition: all 1s;
	color: white;
	width: 100%;
}
.tilecontainer:hover .overlayText{
	opacity: 1;
}
#container .tilecontainer:nth-child(2){
	margin-left: 24px;
	margin-right: 24px;
}
#container .tilecontainer:nth-child(5){
	margin-left: 24px;
	margin-right: 24px;
}
#container img{
	display: block;
	max-width: 100%;
	height: auto;
	border-radius: 10px; /* round edges */	
}
}




























/* Footer */
@media only screen and (max-width: 768px) {
	a {
		text-decoration: none;
		color: inherit;
		display: inline;
		margin-right: 0px;
		font-size: 5px;
	}
	li:hover {
		text-shadow: 0 0 14px rgb(255, 255, 255);
		font-weight: 500;
	}
	footer {
		text-align: center;
		background-color: hsl(180, 90%, 35%);
		color: #FFFFFF;
		overflow: hidden;
		width:100%;
		bottom: 0%;
		position: absolute; 

		line-height: 35px;
	}
	footer li {
		display: inline;
		font-weight: 300;
		margin-right: 20px;
		font-family: 'Roboto', sans-serif;
				
	}
	.left {
		float:left;
		text-align: left;
	}
	.right {
		float: right;
		text-align: right;
	}
}
/* Large devices (laptops/desktops) */
@media only screen and (min-width: 1024px) {
	a {
		text-decoration: none;
		color: inherit;
		display: inline;
		margin-right: 0px;
	}
	li:hover {
		text-shadow: 0 0 14px rgb(255, 255, 255);
		font-weight: 500;
	}
	footer {
		text-align: center;
		background-color: hsl(180, 90%, 35%);
		color: #FFFFFF;
		overflow: hidden;
		width:100%;
		bottom: 0%;
		position: relative; 
		line-height: 35px;
	}
	footer li {
		display: inline;
		font-weight: 300;
		margin-right: 20px;
		font-family: 'Roboto', sans-serif;
				
	}
	.left {
		float:left;
		text-align: left;
	}
	.right {
		float: right;
		text-align: right;
	}
}	




/* Social Media Buttons */ 


#instagram, #facebook, #youtube {
	background: url('../links-and-images/social_media.jpg') 0 0;
	background-repeat: no-repeat;
	display: inline-block;
}

#instagram {
    width: 30px;
    margin-right: 19px;
	height: 35px;
	mix-blend-mode: lighten;
    filter: invert(100);
    background-position: -57px 0px;
}
#facebook {
	width: 30px;
    margin-right: 0px;
    height: 35px;
    mix-blend-mode: lighten;
    filter: invert(100);
    background-position: -0px 0px;
}
}

