
/*Index Page*/
html {
	background-color: #fff1e5;
}

.logo {
	width: 18%;
}

.lower_h2 {
	padding-top: 31px;

}

.lower_p {
	padding: 10px 41px 0px 0px;
	margin: 0px;
	line-height: 1.5;
	width: 80%;
}
.display_pic {
	border-radius: 525px; /* round edges */
	float: left;
	margin: 52px 38px 0px 15px;
	width: 235px;
	border: 1px solid black;
	position: center;		
}




/* Footer */

@media only screen and (min-width: 1024px) {
	footer {
		
		background-color: #990f3d;
		color: #FFFFFF;
		overflow: hidden;
		width:100%;
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		text-align: center;
			

	}
	.left {
		float:left;
		text-align: left;
	}
	.right {
		float: right;
		text-align: right;
	}
	/* Social Media Buttons */ 
	#home, #games, #sketches, #photography, #instagram, #email, #facebook {
		background: url('../links-and-images/social_media.jpg') 0 0;
		background-repeat: no-repeat;
		display: inline-block;
	}
	#home {
		width: 30px;
        display: block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		margin-left: 10px;
		margin-right: 5px;
		filter: invert(100);
		background-position: 0px -40px;
	}
	#home:hover {
		mix-blend-mode: exclusion;
	}
	#home:active {
		opacity: 50%;
	}
	#games {
		width: 30px;
        display: block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		margin-right: 5px;
		filter: invert(100);
		background-position: -84px -40px;
	}
	#games:hover {
		mix-blend-mode: exclusion;
	}
	#games:active {
		opacity: 50%;
	}
	#sketches {
		width: 30px;
        display: block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		margin-right: 5px;
		filter: invert(100);
		background-position: -111px -40px;
	}
	#sketches:hover {
		mix-blend-mode: exclusion;
	}
	#sketches:active {
		opacity: 50%;
	}
	#photography {
		width: 30px;
        display: block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		filter: invert(100);
		background-position: -57px -40px;
	}
	#photography:hover {
		mix-blend-mode: exclusion;
	}
	#photography:active {
		opacity: 50%;
	}
	#facebook {
		width: 30px;
        display: inline block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		margin-right: 5px;
		filter: invert(100);
		background-position: -0px 0px;
	}	
	#facebook:hover {
		mix-blend-mode: exclusion;
	}
	#facebook:active {
		opacity: 50%;
	}
	#email {
		width: 30px;
		display: block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		margin-right: 5px;
		filter: invert(100);
		background-position: -29px -40px;
	}
	#email:hover {
		mix-blend-mode: exclusion;
	}
	#email:active {
		opacity: 50%;
	}
	#instagram {
		width: 30px;
		margin-right: 19px;
        display: block; /* can use inline-block instead of block */
		height: 35px;
		mix-blend-mode: lighten;
		filter: invert(100);
		background-position: -57px 0px;
	}
	#instagram:hover {
		mix-blend-mode: exclusion;
	}
	#instagram:active {
		opacity: 50%;
	}
}
